<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="searchBarPointOfInterestString">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" (click)="searchForPointOfInterest()">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <!-- Display selected user details -->
                    @if(searchPointOfInterestMode==true && searchedPointOfInterest && editMode==false && createMode==false){
                        <div>
                            <h1>PoI Details</h1>
                            <p>ID: {{searchedPointOfInterest._id}}</p>
                            <p>Title: {{searchedPointOfInterest.title}}</p>
                            <p>Latitude: {{searchedPointOfInterest.coords.latitude}}</p>
                            <p>Longitude: {{searchedPointOfInterest.coords.longitude}}</p>
                            <p>Creation Date: {{searchedPointOfInterest.creation_date}}</p>
                            <p>Last Modified: {{searchedPointOfInterest.modified_date}}</p>
                            <button class="btn btn-primary" type="button" (click)="backtoPointOfInterestList()">Back</button>
                            <span style="margin-right: 10px;"></span>
                            <span style="margin-right: 10px;"></span>
                            <button class="btn btn-primary" type="button" (click)="deletePointOfInterest()">Delete</button>
                        </div>
                    }@else if (searchPointOfInterestMode==true && searchedPointOfInterest==null){
                        <h1>User not found</h1>
                        <button class="btn btn-primary" type="button" (click)="backtoPointOfInterestList()">Back</button>
                    }
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <!-- Display list of pois -->
                    <div>
                        @if(pointOfInterestSelected==false && createMode==false && searchPointOfInterestMode==false && editMode==false){
                            <h1>Points of Interest found:</h1>
                            <ul style="list-style: none; padding: 0;"> 
                            @for(poi of pointOfInterests; track poi._id)
                            {
                                <li style="padding:5px">
                                    <button class="btn btn-primary" type="button" (click)="onSelectPointOfInterest(poi)">
                                        <span class="name">{{poi.title}}</span>
                                    </button>
                                </li>
                            }
                            </ul>
                            <button class="btn btn-secondary btn-sm" type="button" (click)="previousPage()">Previous Page</button>
                            <span style="margin-right: 10px;"></span>
                            <button class="btn btn-secondary btn-sm" type="button" (click)="nextPage()">Next Page</button>
                            <div style="padding:10px" > 
                                <button class="btn btn-primary" type="button" (click)="createPoIBtn()">Create new Point of Interest</button>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-auto">
                    <!-- Display selected user details -->
                    @if(selectedPointOfInterest && searchPointOfInterestMode==false && createMode==false  && editMode==false){
                        <div>
                            <h1>Point of Interest Details</h1>
                            <p>ID: {{selectedPointOfInterest._id}}</p>
                            <p>Title: {{selectedPointOfInterest.title}}</p>
                            <p>Latitude: {{selectedPointOfInterest.coords.latitude}}</p>
                            <p>Longitude: {{selectedPointOfInterest.coords.longitude}}</p>
                            <p>Creation Date: {{selectedPointOfInterest.creation_date}}</p>
                            <p>Last Modified: {{selectedPointOfInterest.modified_date}}</p>
                            <button class="btn btn-primary" type="button" (click)="backtoPointOfInterestList()">Back</button>
                            <span style="margin-right: 10px;"></span>
                            <span style="margin-right: 10px;"></span>
                            <button class="btn btn-primary" type="button" (click)="deletePointOfInterest()">Delete</button>
                        </div>
                    }
                </div>
                <div class="col-md-auto">
                    <!-- Create a user -->
                    @if(createMode==true){
                        <div>
                            <h1>Enter new Point of Interest details:</h1>
                            <form [formGroup]="poiForm">
                                <div>
                                <label for="title" style="padding:10px">Title:</label>
                                <input id="title" type="text" formControlName="title" required>
                                </div>

                                <div>
                                    <!-- Use formGroupName to access the emergency_contact FormGroup -->
                                    <div formGroupName="coords">
                                        <!-- Access the full_name control -->
                                        <div>
                                            <label for="latitude">Latitude:</label>
                                            <input id="latitude" type="text" formControlName="latitude" class="form-control">
                                        </div>
                                        <!-- Access the telephone control -->
                                        <div>
                                            <label for="longitude">Longitude:</label>
                                            <input id="longitude" type="text" formControlName="longitude" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                

                                <div style="padding:10px">
                                    <button class="btn btn-primary" [disabled]="!poiForm.valid" type="submit" (click)="onSubmit()">Submit</button>
                                </div>
                                
                            </form>
                            <button class="btn btn-primary" type="button" (click)="backtoPointOfInterestList()">Back</button>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>
</section>